<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/bootstrap-4.0.0-dist/css/bootstrap.min.css" />
    	<!-- This site is optimized with the Yoast SEO plugin v17.0 - https://yoast.com/wordpress/plugins/seo/ -->
	<title>For Elon Musk, Bezos left Amazon to &quot;work full time filing lawsuits against SpaceX | techypu</title>
	<meta property="og:locale" content="en_US" />
	<meta property="og:type" content="article" />
	<meta property="og:title" content="For Elon Musk, Bezos left Amazon to &quot;work full time filing lawsuits against SpaceX | techypu" />
	<meta property="og:description" content="Elon Musk’s remarks come after Jeff Bezos, owner of Blue Origin, protested against SpaceX’s plans to carry more Starlink satellites. Elon Musk criticized Jeff Bezos after an Amazon subsidiary filed a protest against SpaceX’s plans to carry more Starlink satellites. Starlink is a SpaceX service to bring satellite Internet to many parts of the planet, thanks to its massive deployment of satellites in Earth orbit. The &hellip;" />
	<meta property="og:url" content="/for-elon-musk-bezos-left-amazon-to-work-full-time-filing-lawsuits-against-spacex/" />
	<meta property="og:site_name" content="techypu" />
	<meta property="article:published_time" content="2021-08-28T02:16:57+00:00" />
	<meta property="article:modified_time" content="2021-08-28T03:28:52+00:00" />
	<meta property="og:image:width" content="781" />
	<meta property="og:image:height" content="509" />
	<meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:label1" content="Written by" />
	<meta name="twitter:data1" content="admin" />
	<meta name="twitter:label2" content="Est. reading time" />
	<meta name="twitter:data2" content="2 minutes" />
</head>

<body>
    <div class="content">
        <div class="container">
            <div style="position:relative;padding-bottom:56.25%;height:0;overflow:hidden;">
                <iframe class="iframe-video"
                    src="<%= video_link %>?logo=0&amp;autoPlay=0&amp;quality=720&amp;related=0&amp;queue-enable=false"
                    width="100%" height="100%" class="iframe" id="iframe" frameborder="0" marginwidth="0"
                    marginheight="0" scrolling="NO" allowfullscreen="true" webkitallowfullscreen="true"
                    mozallowfullscreen="true"></iframe>
            </div>

            <h2><i>Disclaimer: All of the videos found here come from 3rd party video sites such as DailyMotion. We do not host any of the videos. Please contact to appropriate video hosting site for any video removal.</i></h2>
            <br>
            <h3>For Elon Musk, Bezos left Amazon to &#8220;work full time filing lawsuits against SpaceX
                </h3>

                <div class="entry-content">

                    <p><span data-preserver-spaces="true">Elon Musk’s remarks come after Jeff Bezos, owner of Blue
                            Origin, protested against SpaceX’s plans to carry more Starlink satellites.</span></p>
                    <div class='code-block code-block-2' style='margin: 8px 0; clear: both;'>
                        <div id="v-techypu"></div>
                        <script>(function (v, d, o, ai) { ai = d.createElement('script'); ai.defer = true; ai.async = true; ai.src = v.location.protocol + o; d.head.appendChild(ai); })(window, document, '//a.vdo.ai/core/v-techypu/vdo.ai.js');</script>
                    </div>

                    <p><strong><span data-preserver-spaces="true">Elon Musk</span></strong><span
                            data-preserver-spaces="true"> criticized</span><strong><span data-preserver-spaces="true">
                                Jeff Bezos</span></strong><span data-preserver-spaces="true"> after
                            an</span><strong><span data-preserver-spaces="true"> Amazon</span></strong><span
                            data-preserver-spaces="true"> subsidiary filed a protest against</span><strong><span
                                data-preserver-spaces="true"> SpaceX’s</span></strong><span
                            data-preserver-spaces="true"> plans to carry more Starlink satellites</span><a
                            class="editor-rtfLink"
                            href="https://rpp.pe/ciencia/espacio/spacex-starlink-ha-enviado-100-mil-terminales-de-usuario-para-su-servicio-de-internet-starlink-noticia-1354031"
                            target="_blank" rel="noopener"><span data-preserver-spaces="true">.</span></a></p>
                    <p><span data-preserver-spaces="true">Starlink is a </span><strong><span
                                data-preserver-spaces="true">SpaceX</span></strong><span data-preserver-spaces="true">
                            service to bring </span><strong><span data-preserver-spaces="true">satellite
                                Internet</span></strong><span data-preserver-spaces="true"> to many parts of the planet,
                            thanks to its massive deployment of satellites in Earth orbit.</span></p>
                    <p><span data-preserver-spaces="true">The CEO of </span><strong><span
                                data-preserver-spaces="true">SpaceX</span></strong><span data-preserver-spaces="true">
                            said in a Twitter post that </span><strong><span data-preserver-spaces="true">Jeff
                                Bezos</span></strong><span data-preserver-spaces="true">, founder of
                        </span><strong><span data-preserver-spaces="true">Amazon</span></strong><span
                            data-preserver-spaces="true">, had “retired to seek a full-time job filing lawsuits against
                            SpaceX.”</span></p>
                    <p><span data-preserver-spaces="true">Another Jeff Bezos company, Blue Origin, has also protested
                            NASA’s contract with SpaceX for the mission to the Moon, arguing “problems identified in
                            that acquisition.”</span></p>
                    <blockquote class="twitter-tweet">
                        <p dir="ltr" lang="en">Another front in a growing rivalry: Amazon Urges FCC to Deny
                            SpaceX&#8217;s Plan for Second-Generation Starlink <a
                                href="https://twitter.com/hashtag/PCMag?src=hash&amp;ref_src=twsrc%5Etfw">#PCMag</a></p>
                        <p>— Christian Davenport (@wapodavenport) <a
                                href="https://twitter.com/wapodavenport/status/1431024004102512640?ref_src=twsrc%5Etfw">August
                                26, 2021</a></p>
                    </blockquote>
                    <p>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </p>
                    <h2><span data-preserver-spaces="true">Musk vs. Bezos</span></h2>
                    <p><span data-preserver-spaces="true">The post by </span><strong><span
                                data-preserver-spaces="true">Elon Musk</span></strong><span
                            data-preserver-spaces="true"> is a response to an article about </span><strong><span
                                data-preserver-spaces="true">Kuiper</span></strong><span data-preserver-spaces="true">,
                            an Amazon subsidiary that also provides </span><strong><span
                                data-preserver-spaces="true">satellite internet services</span></strong><span
                            data-preserver-spaces="true">. Recently, Kuiper submitted a protest letter to the US Federal
                            Communications Commission (FCC) against SpaceX’s expansion of its Starlink satellite
                            network.</span></p>
                    <p><span data-preserver-spaces="true">Starlink’s mission is to send the second generation of
                            satellites, about </span><strong><span
                                data-preserver-spaces="true">30,000</span></strong><span data-preserver-spaces="true">,
                            into the planet’s orbit, which would make a total of </span><strong><span
                                data-preserver-spaces="true">1,740 satellites</span></strong><span
                            data-preserver-spaces="true"> deployed.</span></p>
                    <p><span data-preserver-spaces="true">Kuiper complains that </span><strong><span
                                data-preserver-spaces="true">SpaceX</span></strong><span data-preserver-spaces="true">
                            broke the rules by proposing two proposals for the satellite constellation instead of one.
                            SpaceX reported that the second proposal was a backup in case the FCC rejected the
                            first.</span></p>
                    <p><span data-preserver-spaces="true">” </span><strong><span
                                data-preserver-spaces="true">SpaceX’s</span></strong><span data-preserver-spaces="true">
                            novel approach to requesting two mutually exclusive configurations is at odds with both
                            Commission rules and public policy,” wrote Mariah Dodson Shuman, Kuiper’s corporate adviser,
                            in the FCC letter.</span></p>
                    <!-- AI CONTENT END 2 -->

                </div>
        </div>
    </div>
    <hr>
    <footer>
        <div>For any issues in page, please reach out to anurag273003@gmail.com</div>
        <p><a href="mailto:anurag273003@gmail.com">anurag273003@gmail.com</a></p>
    </footer>
</body>

</html>